code{
    border-radius: 5px;
    background-color: rgb(168, 137, 240);
    padding: 3px;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.concept-container{
    width: 60%;
    background-color: darkgray;
    padding: 40px;
}
.title{
    font-weight: bolder;
    border: 2px solid rgb(0, 42, 250);
    padding: 5px;
    border-radius: 5px;
}
.subtitle{
    color: rgb(26, 58, 95);
    padding-left: 10px;
}
p{
    padding-left: 10px;
}